.row
  .span6.offset4
    %h1 Tasks

.row
  .span6.offset2
    %form
      %legend Upload a photo from your walk today
      %input{:onchange => "readURL(this);", :type => "file"}/
      %img#blah{:alt => "your image", :src => "", :height => "0px", :width => "0px"}/
.row
  .span6.offset2
    %legend Today, right now, how true are these statements?
    %table.table.table-hover
      %thead
        %tr
          %th 
          %th Not at all true
          %th Hardly true
          %th Moderately true
          %th Exactly true
      %tbody
        %tr
          %td I can always manage to solve difficult problems if I try hard enough.
          %td 
            %input{:type => "radio", :name => "q1"}
          %td 
            %input{:type => "radio", :name => "q1"}
          %td
            %input{:type => "radio", :name => "q1"}
          %td
            %input{:type => "radio", :name => "q1"}
        %tr
          %td It is easy for me to stick to my aims and accomplish my goals.
          %td 
            %input{:type => "radio", :name => "q2"}
          %td
            %input{:type => "radio", :name => "q2"}
          %td
            %input{:type => "radio", :name => "q2"}
          %td
            %input{:type => "radio", :name => "q2"}
        %tr
          %td I am confident that I could deal efficiently with unexpected events.
          %td 
            %input{:type => "radio", :name => "q3"}
          %td
            %input{:type => "radio", :name => "q3"}
          %td
            %input{:type => "radio", :name => "q3"}
          %td
            %input{:type => "radio", :name => "q3"}
.row
  .span6.offset2
    %legend Legend
    %form.form-horizontal
      .control-group
        %label.control-label Weight
        .controls
          %input#inputEmail{:placeholder => "pounds", :type => "text"}
      .control-group
        %label.control-label  Height
        .controls
          %input#inputPassword{:placeholder => "inches", :type => "text"}
      .control-group
        .controls
          %button.btn{:type => "submit"} Check in
.row
  .span6.offset2
    %legend Watch this short video on changing 
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "http://www.youtube.com/embed/kgI0Xyepzik", :width => "560"}
 
.row
  .span6.offset2
    %legend Before your walk today... 
    .well.well-large
      %p When you put your shoes on before today's walk, spend 60 seconds with your eyes closed, thinking about what you're grateful for.

.row
  .span10.offset1
    %legend Books read by year (nvd3.js)
    :css
      #chart svg {
        height: 400px;
      }

    #chart
      %svg
  
:javascript
  function readURL(input) {
         if (input.files && input.files[0]) {
             var reader = new FileReader();

             reader.onload = function (e) {
                 $('#blah')
                     .attr('src', e.target.result)
                     .width(300)
                     .height(300);
             };

             reader.readAsDataURL(input.files[0]);
         }
     }
     
:javascript
  nv.addGraph(function() {
      var chart = nv.models.multiBarChart()

      chart.yAxis
          .tickFormat(d3.format(',.f'));

      d3.select('#chart svg')
          .datum(data())
        .transition().duration(500).call(chart);

      nv.utils.windowResize(chart.update);

      return chart;
    });


  function data(){

  return [{"values": [{"y": 0, "x": "January"}, {"y": 0, "x": "February"}, {"y": 0, "x": "March"}, {"y": 0, "x": "April"}, {"y": 6, "x": "May"}, {"y": 5, "x": "June"}, {"y": 7, "x": "July"}, {"y": 5, "x": "August"}, {"y": 2, "x": "September"}, {"y": 4, "x": "October"}, {"y": 2, "x": "November"}, {"y": 7, "x": "December"}], "key": "2007"}, {"values": [{"y": 2, "x": "January"}, {"y": 3, "x": "February"}, {"y": 9, "x": "March"}, {"y": 5, "x": "April"}, {"y": 7, "x": "May"}, {"y": 11, "x": "June"}, {"y": 10, "x": "July"}, {"y": 3, "x": "August"}, {"y": 4, "x": "September"}, {"y": 3, "x": "October"}, {"y": 8, "x": "November"}, {"y": 1, "x": "December"}], "key": "2008"}, {"values": [{"y": 3, "x": "January"}, {"y": 3, "x": "February"}, {"y": 7, "x": "March"}, {"y": 5, "x": "April"}, {"y": 1, "x": "May"}, {"y": 1, "x": "June"}, {"y": 6, "x": "July"}, {"y": 8, "x": "August"}, {"y": 6, "x": "September"}, {"y": 2, "x": "October"}, {"y": 3, "x": "November"}, {"y": 8, "x": "December"}], "key": "2009"}, {"values": [{"y": 4, "x": "January"}, {"y": 5, "x": "February"}, {"y": 5, "x": "March"}, {"y": 3, "x": "April"}, {"y": 1, "x": "May"}, {"y": 4, "x": "June"}, {"y": 2, "x": "July"}, {"y": 4, "x": "August"}, {"y": 3, "x": "September"}, {"y": 1, "x": "October"}, {"y": 1, "x": "November"}, {"y": 4, "x": "December"}], "key": "2010"}, {"values": [{"y": 8, "x": "January"}, {"y": 9, "x": "February"}, {"y": 7, "x": "March"}, {"y": 9, "x": "April"}, {"y": 4, "x": "May"}, {"y": 8, "x": "June"}, {"y": 11, "x": "July"}, {"y": 5, "x": "August"}, {"y": 6, "x": "September"}, {"y": 3, "x": "October"}, {"y": 3, "x": "November"}, {"y": 4, "x": "December"}], "key": "2011"}, {"values": [{"y": 6, "x": "January"}, {"y": 4, "x": "February"}, {"y": 9, "x": "March"}, {"y": 3, "x": "April"}, {"y": 9, "x": "May"}, {"y": 8, "x": "June"}, {"y": 7, "x": "July"}, {"y": 3, "x": "August"}, {"y": 0, "x": "September"}, {"y": 0, "x": "October"}, {"y": 0, "x": "November"}, {"y": 0, "x": "December"}], "key": "2012"}];
  }